RewriteEngine On

# Don’t touch subdomains (only match root and www)
RewriteCond %{HTTP_HOST} ^(www\.)?henry-flushman\.fr$ [NC]

# Force HTTPS and www
RewriteCond %{HTTPS} !=on [OR]
RewriteCond %{HTTP_HOST} ^henry-flushman\.fr$ [NC]
RewriteRule ^(.*)$ https://www.henry-flushman.fr/$1 [L,R=301]